{% extends 'mantenimiento/index.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h1>Consultar Ocupantes</h1>
{% endblock %}

{% block contenido %}
<br>
<br>
<br>
<div class="container col-md-5 offset-md-7">
    <h1 class="row">Consultar de Edificios</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Consultar Visitante</li>
    </ol>
</div>
<div class="container col-md-9 offset-md-2">
    <a href="{% url 'registro_visitantes' %}" class="btn btn-primary float right">Registrar</a>
    <br>
        {% if forms%}
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Apartamento</th>
                        <th>Vehiculo</th>
                        <th>Placa</th>

                    </tr>
                    {% for forms in forms %}
                    <tr>
                        <td>{{forms.creado}}</td>
                        <td>{{forms.nombre | title }} </td>
                        <td>{{forms.apartamento | title }}</td>
                        <td>{% if forms.vehiculo %}
                                Moto
                                {% else %}
                                Carro
                                {% endif %}
                        </td>
                        <td>{{forms.placa | title }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                
        {% else %}
            <div class="alert alert-danger">No hay registro de visitantes</div>
        {%endif%}      
    </div>


</div>
{% endblock %} 
