{% extends 'mantenimiento/index.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<br>
<br>
<br>
<div class="row">
    <div class="col-md-2 offset-md-3">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Cantidad de elementos: {{total_preventivo}}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{%url 'consultar_elemento' %}">ver</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>       
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 offset-md-3">
        <div class="col-align-self-center">
            <div id="container2"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="col-align-item-start">
            <div id="container"></div>
        </div>
        <div class="col-md-8 offset-md-3">
            <div id="container3"></div>
        </div>
    </div>  
</div>


<!-- # Datos de graficos-->            
                    <script type="application/javascript">
                        Highcharts.chart('container2', {
                                chart: {
                                    type: 'bar'
                                },
                                title: {
                                    text: 'Cantidad de elementos por ubicación'
                                },
                                subtitle: {
                                    text: 'Atavanza'
                                },
                                xAxis: {
                                    categories: ['Zona común', 'Torre 1', 'Torre 2', 'Torre 3', 'Torre 4', 'Torre 5', 'Torre 6', 'Torre 7'],
                                    title: {
                                        text: null
                                    }
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Cantidad de elementos',
                                        align: 'high'
                                    },
                                    labels: {
                                        overflow: 'justify'
                                    }
                                },
                                tooltip: {
                                    valueSuffix: '   elementos'
                                },
                                plotOptions: {
                                    bar: {
                                        dataLabels: {
                                            enabled: true
                                        }
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'top',
                                    x: -40,
                                    y: 80,
                                    floating: true,
                                    borderWidth: 1,
                                    backgroundColor:
                                        Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                                    shadow: true
                                },
                                credits: {
                                    enabled: false
                                },
                                series: [{
                                    name: 'Elementos',
                                    data: {{ data }}
                                }]
                            });
                    </script>
<!-- # Datos de barras - columnas-->
<script type="application/javascript">
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de actividades ejecutadas por mes'
    },
    
    xAxis: {
        categories: [
            'Ene',
            'feb',
            'Mar',
            'Abr',
            'May',
            'Jun',
            'Jul',
            'Ago',
            'Sep',
            'Oct',
            'Nov',
            'Dic'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (und)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} und</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Actividades',
        showInlegend:false,
        data: {{data4}}
    }]
});
</script>
<br>
<br>
<!--# Datos de circunferencia  -->
<script class="application/javascript">
    Highcharts.chart('container3', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Contents of Highsoft\'s weekly fruit delivery'
    },
    subtitle: {
        text: '3D donut in Highcharts'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Delivered amount',
        data: [
            ['Bananas', 8],
            ['Kiwi', 3],
            ['Mixed nuts', 1],
            ['Oranges', 6],
            ['Apples', 8],
            ['Pears', 4],
            ['Clementines', 4],
            ['Reddish (bag)', 1],
            ['Grapes (bunch)', 1]
        ]
    }]
});
</script>
                
                
                  
{% endblock %}
        

